<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                <li><%= link_to 'Strona główna', root_path %></li>
                <li><%= link_to 'Mój profil', authenticated_patient_path %></li>   
                <li><%= link_to 'Wyniki badań', patient_labs_path %></li>          
                <li><%= link_to 'Wizyty', patient_visits_path %></li>
                <li><%= link_to 'Wyloguj się', destroy_patient_session_path, method: :delete %></li>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="mycss">
    <div class="container">
        <div class="row">

			<b><p>
        			Wyniki moich badań: </b></p>
                    <% if @available_labs.size > 0%>
                    <div class="table-responsive"> 
                        <table class="table table-bordered">         
                            <thead>
                                <tr>
                                <th>Data badania</th>
                                <th>Typ badania</th>
                                <th>Wyniki udostępnił</th>
                                <th>Informacje od lekarza</th>
                                <th>Załącznik</th>

                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                 <% @available_labs.each do |lab| %>
                                <td style="width:20%"><%=" #{lab.date.try(:to_formatted_s, :db)}" %></td>
                                <td style="width:10%"><%=" #{lab.type&.name }" %></td>
                                <td style="width:20%"><%= lab.doctor&.full_name %></td>
                                <td style="width:40%"><%=" #{lab.additional_info} "%></td>
                                <td style="width:50%"><%= link_to "#{lab.attachment_file_name}", lab.attachment.url %></td>
                              </tr>
                             <% end %>
                            </tbody>
                        </table>
                    </div>              
                    <% end %>

                <% if @available_labs.size == 0 %>
                    <em> Nie posiadasz żadnych wyników badań. </em>
                <% end %>
              </div>
        	   
		</div>
	</div>
</div>

