<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                  <li>
                    <a class="page-scroll" href="#page-top">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <% if current_patient %>
                    <li><%= link_to 'Logout', destroy_patient_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Portal pacjenta', new_patient_session_path %></li>
                <% end %>
                <% if current_doctor %>
                    <li><%= link_to 'Logout', destroy_doctor_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Portal doctora', new_doctor_session_path %></li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <form action="/somepath" method="post">
            <select name="city_id" id="city_id">
               <%= options_from_collection_for_select(City.all, :id, :name) %>
            </select>
            <select name="institution_id" id="institution_id">
               <%= options_from_collection_for_select(Institution.all, :id, :name) %>
            </select>
             <input type="submit" value="Zatwierdź">

         </form>

         <form action="/somepath" method="post">
            <select name="city_id" id="city_id">
               <%= grouped_collection_select(:institution, :city_id, City.all, :institutions, :name, :id, :name) %>
            </select>
            <select name="institution_id" id="institution_id">
               <%= options_from_collection_for_select(Institution.all, :id, :name) %>
            </select>
             <input type="submit" value="Zatwierdź">

         </form>

    </div>
</section>

