<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                <li><%= link_to 'Strona główna', root_path %></li>  
                <li><%= link_to 'Mój profil', authenticated_doctor_path %></li>              
                <li><%= link_to 'Wizyty', doctor_visits_path %></li>
                <li><%= link_to 'Pacjenci', doctor_patients_path %></li>
                <li><%= link_to 'Badania', doctors_labs_list_path %></li>
                <li><%= link_to 'Wyloguj się', destroy_doctor_session_path, method: :delete %></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="mycss">
    <div class="container">
        <div class="row">
            <% if @visits.size > 0  %>
                <b><p>Najbliższa wizyta: </b></p> <b>Data:</b> <%= @nearest.date.to_formatted_s(:db) %><br></br> <b>Pacjent:</b> <%= @nearest.patient&.full_name %><br></br> <br></br>
            <b><p>
                Przyszłe wizyty: </b></p>

                    <div class="table-responsive"> 
                        <table class="table table-bordered">         
                            <thead>
                                <tr>
                                <th>Data wizyty</th>
                                <th>Pacjent</th>
                                <th>Czy chcesz odwołać wizytę?</th>
                                <th>Notatki</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <% @visits.each do |visit| %> 
                                <td style="width:5%"><%= visit.date.to_formatted_s(:db) %></td>
                                <td style="width:10%"><%= visit.patient&.full_name %></td>
                                 <td style="width:10%"> <%= link_to "Odwołaj wizytę", doctors_delete_visit_path(visit), data: { confirm: "Czy na pewno chcesz odwołać?" }, method: :get %></td>
                                <td style="width:5%">
                                    <div id="visit_notes_<%=visit.id%>">
                                        <% if visit.notes %>
                                            <%= visit.notes %>
                                        <% else %>
                                            <%= form_tag({action: 'add_note', visit_id: visit.id}, remote: true) do %>
                                            <%= hidden_field_tag(:visit_id, visit.id) %>
                                            <div class="form-group">
                                                <div class="field">
                        
                                                    <%= text_area_tag(:notes, nil, class: "form-control", placeholder: 'Zostaw notatkę') %>
                                                    <input type="hidden" name="visit_id"><% visit.id %>
                                                    <%= submit_tag("Dodaj", class: 'myButton') %></td>
                                                </div>
                                            </div>
                                            <% end %>
                                        <% end %>
                                    </div>                                   
                              </tr>
                             <% end %>
                            </tbody>
                        </table>
                    </div>
                 <% end %>                           
                <% if @visits.size == 0 %>
                    <b><p>
                    Przyszłe wizyty: </b></p>
                    <em> Nie masz w tej chwilii żadnych przypisanych wizyt </em>
                 <% end %>
                 <br></br>

             </div>
