<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li><%= link_to 'Strona główna', root_path %></li>  
                <li><%= link_to 'Mój profil', authenticated_doctor_path %></li>              
                <li><%= link_to 'Wizyty', doctor_visits_path %></li>
                <li><%= link_to 'Pacjenci', doctor_patients_path %></li>
                <li><%= link_to 'Badania', doctors_labs_list_path %></li>
                <li><%= link_to 'Wyloguj się', destroy_doctor_session_path, method: :delete %></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="mycss">
    <div class="container">
        <div class="col-md-6 offset-md-2">
        <div class="row">
         <b><p> Szczegóły wizyty: </b></p>

            <b>Data wizyty:   </b><%= @visit.date.to_formatted_s(:db) %><br></br>

			<b>Imię i nazwisko pacjenta:   </b><%=" #{@visit.patient.name} #{@visit.patient.surname}"%><br></br>
            <b>Email:   </b><%=" #{@visit.patient.email}"%><br></br>
            <b>Notatki: </b><br></br>
            <div id="visit_notes_<%=@visit.id%>">
                <% if @visit.notes %>
                    <%= @visit.notes %>
                <% else %>
                    <%= form_tag({action: 'add_note', visit_id: @visit.id}, remote: true) do %>
                        <%= hidden_field_tag(:visit_id, @visit.id) %>
                        <div class="form-group">
                        <div class="field">
                        <br></br>
                        <b>Dodaj notatkę: </b>
                            <%= text_area_tag(:notes, nil, class: "form-control", placeholder: 'Zostaw notatkę') %>
                            <input type="hidden" name="visit_id"><% @visit.id %>
                             <%= submit_tag("Dodaj", class: 'myButton') %></td>
                        </div>
                </div>
                <% end %>
            <% end %>
            </div>

            <br></br>
            <%= link_to "Odwołaj wizytę", doctors_delete_visit_path , data: { confirm: "Czy na pewno chcesz odwołać?" }, class: 'myButton' %> 

</div>