<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                
                <li><%= link_to 'Strona główna', root_path %></li>            

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="mycss">
    <div class="container">
       <div class="col-md-12 offset-md-8">
        <div class="row">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

            <b><p>Logowanie</b></p>
            <div class="form-group">
                <%= f.label :Email, class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= f.email_field :email, autofocus: true , class: "form-control", :required => true  %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :Hasło, class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", :required => true  %>
                </div>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <%= f.check_box :remember_me %> <%= f.label "Zapamiętaj mnie"  %>
                </div>
            </div>
            <% end %>

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <%= f.submit "Zaloguj się", class: 'myButton myButton' %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <%= render "patients/shared/links" %>
                </div>
            </div>

            <% end %>
            </div>