<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                  <li>
                    <a class="page-scroll" href="#page-top">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">O nas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Dołącz już teraz!</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
                <% if current_patient %>
                    <li><%= link_to 'Logout', destroy_patient_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Portal pacjenta', new_patient_session_path %></li>
                <% end %>
                <% if current_doctor %>
                    <li><%= link_to 'Logout', destroy_doctor_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Portal doctora', new_doctor_session_path %></li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Medicament</h1>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Grupa Medicament</h2>

            <p> W ramach Grupy świadczymy kompleksowe usługi medyczne – od diagnostyki po kompleksowe leczenie, również szpitalne, od podstawowej opieki medycznej po pomoc specjalistyczną, rehabilitację oraz stałą opiekę dla osób starszych. Każdego dnia dokładamy wszelkich starań, aby osoby znajdujące się pod naszą opieką były zadowolone ze świadczonych przez nas usług, czuły się bezpiecznie i wiedziały, że mogą liczyć na pomoc i poradę doświadczonych specjalistów.
            </p>

        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-left">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-0">
                <h2>Nie masz jeszcze konta?</h2>
                <p>Załóż darmowe, w pełni funkcjonalne konto w 30 sekund!
                <br> - e-Rezerwacja wizyt dla siebie i swojego dziecka -
    z wybranym specjalistą, w dogodnym terminie i miejscu 
                 <br> - Wyniki badań online, wraz z komentarzem lekarza
                 </p>
                <%= link_to 'Załóż konto', sign_up_path, class:"btn btn-default btn-lg"  %>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Masz pytania?</h2>
            <p> W razie jakichkolwiek pytań z chęcią odpowiemy na wszystko. Można się z nami kontaktować mailowo oraz telefonicznie.
            <br> Nasza infolinia: <b>12 3456723 </b> </p>
            <p><a href="mailto:monikatomczyk93@gmail.com">feedback@medicament.com</a>
            </p>
        </div>
    </div>
</section>
