<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                <li><%= link_to 'Strona główna', root_path %></li>  
                <li><%= link_to 'Badania', patient_labs_path %></li>          
                <li><%= link_to 'Wizyty', patient_visits_path %></li>
                <li><%= link_to 'Wyloguj się', destroy_patient_session_path, method: :delete %></li>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="mycss">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

        		<b><p>
        			Odbyte wizyty:
        		</b></p>
        		<% @visits.each do |visit| %>
        		<ul>
        			<li><%=link_to visit.date.to_formatted_s(:db), patient_visit_show_path(visit) %>
                    <%= button_to "Wypisz się z wizyty", delete_visit_path(visit), data: { confirm: "Czy na pewno chcesz się wypisać?" }, method: :get %></p>
                </li>
        		</ul>
        		<% end %>
                <% if @visits.size == 0 %>
                    <em> Nie odbyłeś jeszcze żadnej wizyty. </em>
                <% end %>
                <br></br>
                <b><p>
                    Przyszłe wizyty:
                </b></p>

                <% @futures.each do |future| %>
                <ul>
                    <li><%=link_to future.date.to_formatted_s(:db), patient_visit_show_path(future) %>
                    <%= button_to "Wypisz się z wizyty", delete_visit_path(future), data: { confirm: "Czy na pewno chcesz się wypisać?" }, method: :get %></p>
                </li>
                </ul>
                <% end %>
                <% if @futures.size == 0 %>
                    <em> Nie masz w tej chwilii żadnych przypisanych wizyt </em>
                <% end %>
                <%= button_to "Zapisz się na wizytę", visits_form_path, method: :get %></p>
                <br></br>
                <% if @futures.size > 0  %>
                    <b><p>Najbliższa wizyta: <%= @nearest.date.to_formatted_s(:db) %> </b></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
